dist/*
!dist/openapi/
dist/openapi/*.yaml
dist/openapi/*.yml
dist/openapi/*.json
.tmp-images/
jobs/
mocks/*/dist/

# Ignore old mock src files (not used, but may be left over from old commits)
mocks/smarthome/src/index.pre-refactor.tsxs
